body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.centrar {
    color: orangered;
    align-items: center;
    text-align: center;
}

.Verde {
    color: green;
}

.centro {
    border: gray 1px solid;
    padding-right: 20px;
}

.EspeciesVerdes {
    color: green;
    border-bottom: gray 1px solid;
}

h4 {
    color: orangered;
    margin-left: 20px;
    margin-right: 20px;
}

h3 {
    margin-left: 20px;
}

p {
    margin-left: 20px
}