.Verde {
    color: green;
}

.Naranja {
    color: orange;
}

.centrar {
    align-items: center;
    text-align: center;
}

.lista1 {
    margin-left: 2px;
}

.centro {
    border: gray 1px solid;
    margin-left: 30px;
}

.Bienvenido {
    color: green;
    margin-left: 20px;
}

hr{
    margin-top:  2px;
}

p {
    margin-left: 30px ;
}